In [76]:

import pandas as pd
from sqlalchemy import create_engine
from time import time

In [77]:
df = pd.read_csv('yellow_tripdata_2021-01.csv',
                 nrows=100,
                parse_dates=["tpep_pickup_datetime","tpep_dropoff_datetime"])

In [78]:
df.store_and_fwd_flag = df.store_and_fwd_flag.replace({'N':False,'Y':True})

In [79]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [80]:
engine.connect()

In [81]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag BOOLEAN,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [82]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',
                    parse_dates=["tpep_pickup_datetime","tpep_dropoff_datetime"],
                    iterator=True, 
                    chunksize=100000)

In [83]:
df.head(0).to_sql(name='yellow_taxi_data',con=engine, if_exists='replace')

0

In [89]:
t_start = time()
t_end = time()
print('another chunk inserted in {:.3f} second'.format(t_end - t_start))

another chunk inserted in 0.000 second

In [84]:
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')
        t_end = time()
        print('another chunk inserted in {:.3f} second'.format(t_end - t_start))
    except StopIteration:
        print('Finished insertion')
        break

another chunk inserted in %.3f second 13.433712482452393
another chunk inserted in %.3f second 14.220768213272095
another chunk inserted in %.3f second 13.166149139404297
another chunk inserted in %.3f second 13.014628887176514
another chunk inserted in %.3f second 15.258225917816162
another chunk inserted in %.3f second 13.46674370765686
another chunk inserted in %.3f second 13.014261245727539
another chunk inserted in %.3f second 13.487380266189575
another chunk inserted in %.3f second 11.477718591690063
another chunk inserted in %.3f second 11.249505758285522
another chunk inserted in %.3f second 11.23824954032898
another chunk inserted in %.3f second 11.691533088684082

/tmp/ipykernel_13144/482584640.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

another chunk inserted in %.3f second 11.172409296035767
another chunk inserted in %.3f second 7.595994710922241
Finished insertion